<!DOCTYPE html>
<html>
	<head>
	<title> Log </title>
	<link rel="stylesheet" href='/static/style.css' />

	</head>
	
	<body>
		<h1>Log page </h1>
		<h3>Latest entry in log.csv </h3>
	<table>
		<thead><tr><th>Time</th><th>Electricity price</th><th>Outdoor temperature</th><th>Indoor temperature</th><th>Temperature setting</th></tr></thead>
	<tbody>
		<tr><td>{{currtime}}</td><td>{{currprice}}</td><td>{{currout}}</td><td>{{currin}}</td><td>{{currset}}</td></tr>
	</tbody>
	</table>


	<h1>--------//////////////////////////////-------- </h1>



	<h3>24 latest entries in hour_log.csv</h3>
	<table>
		<thead><tr><th>Time</th><th>Electricity price</th><th>Outdoor temperature</th><th>Indoor temperature</th><th>Temperature setting</th></tr></thead>
	<tbody>
		<tr><td>{{r0time}}</td><td>{{r0price}}</td><td>{{r0out}}</td><td>{{r0in}}</td><td>{{r0set}}</td></tr>
		<tr><td>{{r1time}}</td><td>{{r1price}}</td><td>{{r1out}}</td><td>{{r1in}}</td><td>{{r1set}}</td></tr>
		<tr><td>{{r2time}}</td><td>{{r2price}}</td><td>{{r2out}}</td><td>{{r2in}}</td><td>{{r2set}}</td></tr>
		<tr><td>{{r3time}}</td><td>{{r3price}}</td><td>{{r3out}}</td><td>{{r3in}}</td><td>{{r3set}}</td></tr>
		<tr><td>{{r4time}}</td><td>{{r4price}}</td><td>{{r4out}}</td><td>{{r4in}}</td><td>{{r4set}}</td></tr>
		<tr><td>{{r5time}}</td><td>{{r5price}}</td><td>{{r5out}}</td><td>{{r5in}}</td><td>{{r5set}}</td></tr>
		<tr><td>{{r6time}}</td><td>{{r6price}}</td><td>{{r6out}}</td><td>{{r6in}}</td><td>{{r6set}}</td></tr>
		<tr><td>{{r7time}}</td><td>{{r7price}}</td><td>{{r7out}}</td><td>{{r7in}}</td><td>{{r7set}}</td></tr>
		<tr><td>{{r8time}}</td><td>{{r8price}}</td><td>{{r8out}}</td><td>{{r8in}}</td><td>{{r8set}}</td></tr>
		<tr><td>{{r9time}}</td><td>{{r9price}}</td><td>{{r9out}}</td><td>{{r9in}}</td><td>{{r9set}}</td></tr>
		<tr><td>{{r10time}}</td><td>{{r10price}}</td><td>{{r10out}}</td><td>{{r10in}}</td><td>{{r10set}}</td></tr>
		<tr><td>{{r11time}}</td><td>{{r11price}}</td><td>{{r11out}}</td><td>{{r11in}}</td><td>{{r11set}}</td></tr>
		<tr><td>{{r12time}}</td><td>{{r12price}}</td><td>{{r12out}}</td><td>{{r12in}}</td><td>{{r12set}}</td></tr>
		<tr><td>{{r13time}}</td><td>{{r13price}}</td><td>{{r13out}}</td><td>{{r13in}}</td><td>{{r13set}}</td></tr>
		<tr><td>{{r14time}}</td><td>{{r14price}}</td><td>{{r14out}}</td><td>{{r14in}}</td><td>{{r14set}}</td></tr>
		<tr><td>{{r15time}}</td><td>{{r15price}}</td><td>{{r15out}}</td><td>{{r15in}}</td><td>{{r15set}}</td></tr>
		<tr><td>{{r16time}}</td><td>{{r16price}}</td><td>{{r16out}}</td><td>{{r16in}}</td><td>{{r16set}}</td></tr>
		<tr><td>{{r17time}}</td><td>{{r17price}}</td><td>{{r17out}}</td><td>{{r17in}}</td><td>{{r17set}}</td></tr>
		<tr><td>{{r18time}}</td><td>{{r18price}}</td><td>{{r18out}}</td><td>{{r18in}}</td><td>{{r18set}}</td></tr>
		<tr><td>{{r19time}}</td><td>{{r19price}}</td><td>{{r19out}}</td><td>{{r19in}}</td><td>{{r19set}}</td></tr>
		<tr><td>{{r20time}}</td><td>{{r20price}}</td><td>{{r20out}}</td><td>{{r20in}}</td><td>{{r20set}}</td></tr>
		<tr><td>{{r21time}}</td><td>{{r21price}}</td><td>{{r21out}}</td><td>{{r21in}}</td><td>{{r21set}}</td></tr>
		<tr><td>{{r22time}}</td><td>{{r22price}}</td><td>{{r22out}}</td><td>{{r22in}}</td><td>{{r22set}}</td></tr>
		<tr><td>{{r23time}}</td><td>{{r23price}}</td><td>{{r23out}}</td><td>{{r23in}}</td><td>{{r23set}}</td></tr>
	</tbody>
	</table>
	</body>
</html>
